.row
  .col-xs-8.col-lg-8
    .row
      .col-xs-6.col-lg-6.border_custom{style: "padding:10px"}
        %h4
          BROSURI COMPLETATE
          %i.fa.fa-check-square.pull-right.fa-lg.color_purple{style: "padding:10px"}
        %h5.color_gray
          #{@completed_brochures.count}
  .col-xs-3.col-lg-3.border_custom{style: "padding:10px"}
    %h4
      Citatul zilei
      %i.fa.fa-quote-right.pull-right.fa-lg.color_purple{style: "padding:10px"}
    - quote = quotes.sample
    %h5.color_gray
      #{quote[0]}
    %h5.color_gray.pull-right
      #{quote[1]}
.row{style: "margin-top: 100px"}
  .col-xs-12.col-lg-12
    %h4
      BROSURI NOI
  - if @uncompleted_brochures.first(2).present?
    - @uncompleted_brochures.first(2).each do |ub|
      - brochure = @brochures[ub.brochure_id]
      .col-xs-10.col-lg-10{style: "margin-top: 20px"}
        .row.border_custom{style: "padding:15px;"}
          .col-xs-3.col-lg-3{style: "padding-top: 20px"}
            %h5
              #{brochure.title}
          .col-xs-2.col-lg-2.d-flex.flex-column{style: "padding-top: 5px"}
            %p.color_gray #{ub.created_at.try(:strftime, "%d/%m/%Y")}
            %p.color_gray Data primire
          .col-xs-3.col-lg-3.d-flex.flex-column{style: "padding-top: 5px"}
            %p.color_gray #{brochure.try(:author) || "Claudia Rus"}
            %p.color_gray Autor
          .col-xs-3.col-lg-3.pull-right.d-flex{style: "padding-top: 10px"}
            = button_to  "Vizualizeaza", brochure_path(brochure, brochure_id: brochure.id), method: :get, "data-toggle" => "tooltip", class:"btn btn-default btn_big_custom custom_btn btn_grey", style: "font-size: 20px!important;"
            = button_to  "Completeaza", brochure_fill_in_path(brochure), method: :get, class:"btn btn-default btn_big_custom custom_btn btn_orange", style: "font-size: 20px!important;"


  - else
    .col-xs-10.col-lg-10
      %h5.add_padding_left_10
        Nu exista brosuri noi

.row{style: "margin-top: 20px"}
  .col-xs-12.col-lg-12{style: "margin-bottom: 15px"}
    %h4
      BROSURI DISPONIBILE

  - if @uncompleted_brochures.drop(2).first(2).present?
    - @uncompleted_brochures.drop(2).first(2).each do |ub|
      - brochure = @brochures[ub.brochure_id]
      .col-xs-10.col-lg-10{style: "margin-top: 20px"}
        .row.border_custom{style: "padding:15px;"}
          .col-xs-3.col-lg-3{style: "padding-top: 20px"}
            %h5
              #{brochure.title}
          .col-xs-2.col-lg-2.d-flex.flex-column{style: "padding-top: 5px"}
            %p.color_gray #{ub.created_at.try(:strftime, "%d/%m/%Y")}
            %p.color_gray Primit
          .col-xs-3.col-lg-3.d-flex.flex-column{style: "padding-top: 5px"}
            %p.color_gray #{brochure.try(:author) || "Claudia Rus"}
            %p.color_gray Autor
          .col-xs-3.col-lg-3.pull-right.d-flex{style: "padding-top: 10px"}
            = button_to  "Vizualizeaza", brochure_path(brochure, brochure_id: brochure.id), method: :get, class:"btn btn-default btn_big_custom custom_btn btn_grey", style: "font-size: 20px!important;"
            = button_to  "Completeaza", brochure_fill_in_path(brochure), method: :get, class:"btn btn-default btn_big_custom custom_btn btn_orange", style: "font-size: 20px!important;"


  - else
    .col-xs-10.col-lg-10
      %h5.add_padding_left_10
        Nu exista alte brosuri disponibile