.container
  .d-flex.justify-content-center.h-100
    = form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f|
      = render "devise/shared/error_messages", resource: resource
      .card
        .card-header
          %h4.color_white Activare cont
        .card-body
          - if @requires_password
            = f.label :password,'Alege o parola:', class: "color_white add_padding_top_20"
            .input-group.form-group
              .input-group-prepend
                %span.input-group-text
                  %i.fa.fa-key.color_white
              = f.password_field :password, autofocus: true, class: "form-control", placeholder: "Parola"


            = f.label :password_confirmation, 'Confirma parola:', class: "color_white add_padding_top_20"
            .input-group.form-group
              .input-group-prepend
                %span.input-group-text
                  %i.fa.fa-key.color_white
              = f.password_field :password_confirmation, autofocus: true, class: "form-control", placeholder: "Confirmarea parolei"
            = hidden_field_tag :confirmation_token,@confirmation_token
        .card-footer
          .d-flex.justify-content-center
            = f.submit "Activeaza cont", class: "btn login_btn color_white register_btn"

