%nav.navbar.navbar-expand-lg.navbar-light
  %button.navbar-toggler.border.border-white{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.fa.fa-bars.color_white
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto.mt-2.mt-lg-0

      - if ["securities", 'policies'].include? left_controller
        %li.nav-item
          = link_to "Home Page", root_path, class: "link"
        %li.nav-item
          = link_to "Properties", root_path, class: "link"
        - if is_admin?
          %li.nav-item
            = link_to "About Us", root_path, class: "link"
          %li.nav-item
            = link_to "Contact Us", root_path, class: "link"


      - if ["securities", 'policies'].include? left_controller && is_admin?
        %li.nav-item.dropdown.pull-right.dropdown_custom
          .dropdown-toggle{"data-toggle" => "dropdown", style: "pointer-events:none"}
            Policies
          %ul.dropdown-menu{style: "top: 50px!important;"}
            %li
              = link_to "Privacy Policy", security_privacy_policy_path, :method => :get, class: "link"
            %li
              = link_to "Terms & Conditions", security_terms_and_conditions_path, :method => :get, class: "link"
            %li
              = link_to "Cookies Policy", security_cookies_path, :method => :get, class: "link"

      %li.nav-item.dropdown.pull-right
        .fa.fa-user-circle.color_purple.account_icon.dropdown-toggle{"data-toggle" => "dropdown", style: "pointer-events:none"}
        %ul#menu_account.dropdown-menu
          %li
            = link_to "Profile", edit_user_path(current_user.id), :method => :get, class: "link"
          %li
            = link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true }, class: "link"


