= form_tag assign_members_path, :method => 'post', id: 'assign_members' do
  .row
    .col-12
      = link_to "Pagina principala", root_path, :method => :get, class: "top_link_grey"
      %i.fa.fa-chevron-right.color_grey
      %span.color_purple Trimite brosuri
  .row
    .col-12
      .h6.add_padding_top_15
        %b Trimite brosuri:
        .col-lg-12.no_padding.d-flex
          .col-lg-3.no_padding_left
            %input#checkbox_all_golfers{:type => "radio", name: "all_golfers"}
            %label.add-margin-left-10{:for => "checkbox_all_golfers"} Tuturor membrilor
          .col-lg-3.no_padding_left
            %input#checkbox_specific_golfers{:type => "radio", name: "specific_golfers"}
            %label.add-margin-left-10{:for => "checkbox_specific_golfers"} Anumiti membrii...
            %a.link.hidden#edit_specific_golfers Editeaza
            = hidden_field_tag '', '', id: "specific_golfers_modal"
            = hidden_field_tag :specific_members, "",  value: ""
  .row
    .col-12.add_margin_top_20
      .h6.add_padding_top_15
        %b Selecteaza brosura:
        .col-lg-12.no_padding{style:"width: 300px!important"}
          = select_tag "brochure", options_for_select(options_for_brochure, selected: "0"), class: "form-control js-example-basic-single", onchange: "selectBrochure()"
  .row{style: "margin-bottom: 100px"}
    .col-12.add_margin_top_20#brochure_form
      = render partial: 'brochures/user_brochure'

  = render partial: "modal_select_members"

  .row.fixed_survey_bar.background_light_grey
    .col-xs-12.col-sm-12
      .btsp_custom_tabs_menu
      .add-margin-right-0.pull-right
        %button.btn.btn-default.btn_big_custom.custom_btn.btn_orange#assign Assign brochure

      .add-margin-right-0.pull-left
:javascript
  window.gems.email_templates.init();
  $(document).ready(function() {
    $('.js-example-basic-single').select2();
  });

  function selectBrochure() {
    window.gems.email_templates.get_brochure();
  }
