-content_for :head do
  = t ".hi"

-content_for :mail do
  - if @user.first_name.present?
    %span{style: "color: black; text-decoration: none"}
      = "#{@user.first_name} #{@user.last_name}!"
  - else
    = link_to "#{@user.email}!", "#", :style => "color: black; text-decoration: none"

-content_for :content_head do
  = t ".content_head"

-content_for :content do
  %p We heard that you lost your password. Sorry about that!
  %p{style: "font-weight: bold; font-size: 22px"} #{@user.password}
  %p="But don't worry!<br/>You can use the following link to reset your password:".html_safe
  %p= link_to (t ".reset_password"), edit_password_url(@user, reset_password_token: @token), :style => "color: #0098c4; border-bottom:1px solid #0098c4; font-size:22px;  text-decoration: none"
