= form_for([@customer, @manager], remote: true) do |f|
  .modal-body.no_padding_bottom
    .row.no_padding_top.no_padding_bottom.custom_modal_content.custom_flex_head_position.no_padding_left
      .col-lg-12.col-xs-12.body_item_height
        .row.add_padding_top_15
          .col-lg-4.col-xs-4.popup_form_size.custom_width_30
            First Name
          .col-lg-8.col-xs-8.no_padding.custom_width_70
            .form-group
              = f.text_field :first_name, class: "form-control", autocomplete: "off"
        .row
          .col-lg-4.col-xs-4.popup_form_size.custom_width_30
            Last Name
          .col-lg-8.col-xs-8.no_padding.custom_width_70
            .form-group
              = f.text_field :last_name, class: "form-control", autocomplete: "off"
        .row
          .col-lg-4.col-xs-4.popup_form_size.custom_width_30
            Email
          .col-lg-8.col-xs-8.no_padding.custom_width_70
            .form-group
              = f.email_field :email, class: "form-control", autocomplete: "off"
        
        = hidden_field_tag :customer_id,"",  value: @customer.id, id: "customer_id", autocomplete: "off"
  .modal-footer.no_border.no_padding_bottom.no_padding_top.background_white
    .row
      .col-lg-12.col-xs-12.body.orders.custom_modal_footer
        .left
          %button.btn.btn-default.custom_btn{"data-dismiss" => "modal", :type => "button"} Close
        .right
          = f.submit "Save", class: "btn_orange btn btn-default custom_btn new_user_save", remote: true
