.tableFixHead
  %table.table.table-striped.custom_table3
    %thead
      %tr
        %th.background_light_gray.custom_vertical_align_middle= sortable_remote "users.name", "NAME"
        %th.background_light_gray.custom_vertical_align_middle= sortable_remote "users.email", "EMAIL"
        %th.background_light_gray.custom_vertical_align_middle= sortable_remote "users.role", "ROLE"
        %th.background_light_gray
    %tbody
      - @users.each do |user|
        %tr
          %td #{user.name}
          %td
            = link_to user.email, user
          %td
            = form_for(user) do |f|
              = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
              = f.submit 'Change Role', :class => 'button-xs'
          %td
            = link_to("Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" }, title:"Delete", class: "color_red") unless user == current_user
