.col-xs-10
  = form_tag users_path, :method => 'get', :id => "users_search", :remote => true do
    .row.add_padding_top_20
      .col-xs-12.col-lg-3.no_padding_left
        .form-group
          %p NAME
          .form-group
            = text_field_tag :user_search_name, "", value: @search_params.present? ? @search_params['user_search_name'] : params[:user_search_name], class: 'form-control custom_input', autocomplete: "off",  disabled: false
      .col-xs-12.col-lg-3.no_padding_left
        .form-group
          %p EMAIL
          .form-group
            = text_field_tag :user_search_email, "", value: @search_params.present? ? @search_params['user_search_email'] : params[:user_search_email], class: 'form-control custom_input', autocomplete: "off",  disabled: false
      .col-xs-12.col-lg-2.no_padding_left
        .form-group
          %p PHONE
          .form-group
            = text_field_tag :user_search_phone, "", value: @search_params.present? ? @search_params['user_search_phone'] : params[:user_search_phone], class: 'form-control custom_input', autocomplete: "off",  disabled: false
      .col-xs-12.col-lg-1.no_padding_left
        .form-group
          %p.text_center Admin
          .custom-control.custom-checkbox
            = text_field_tag :user_search_admin, "", value: @search_params.present? ? @search_params['user_search_admin'] : params[:user_search_admin], class: 'custom-control-input', type: "checkbox"
            %label.custom-control-label{:for => "user_search_admin"}
      .col-xs-12.col-lg-1.no_padding_left
        .form-group
          %p.text_center User
          .custom-control.custom-checkbox
            = text_field_tag :user_search_employee, "", value: @search_params.present? ? @search_params['user_search_employee'] : params[:user_search_employee], class: 'custom-control-input', type: "checkbox"
            %label.custom-control-label{:for => "user_search_employee"}


    .row.d-flex.flex-row-.add_padding_top_10.add_margin_right_15
      .pull-left
        = submit_tag 'Search', class:"btn btn-outline-secondary"
      .pull-left.add_margin_right_20
        = submit_tag 'Reset', class:"btn btn-outline-secondary", name: "reset", id: "reset_search"

