%p.quick-search-dropdown{"data-target" => "#users_search", "data-toggle" => "collapse", :type => "button", id: "dropdown_users"}
  %a.link{ href: "javascript: void(0);" }
    - if @users
      Users Search
    - else
      Managers Search
  %i.pull-right.glyphicon#icon_dropdown_search{class: "#{@search_params.present? || @reset.present? ? 'glyphicon-triangle-top': 'glyphicon-triangle-bottom'}"}
.panel.custom_panel{id: "users_search" ,class: "collapse #{@search_params.present? || @reset.present? ? "in" : ""}"}
  .panel-body.custom_search
    = form_tag (@users.present? ? users_path : managers_index_customer_users_path), :method => 'GET', :id => "users_search", :remote => true do
      .row
        .col-lg-12
          .col-lg-3.field-2
            .form-group
              %p FIRST NAME
              .form-group
                = text_field_tag :user_search_first_name, "", value: @search_params.present? ? @search_params['user_search_first_name'] : params[:user_search_first_name], class: 'form-control custom_input', autocomplete: "off",  disabled: false
          .col-lg-3.field-2
            .form-group
              %p LAST NAME
              .form-group
                = text_field_tag :user_search_last_name, "", value: @search_params.present? ? @search_params['user_search_last_name'] : params[:user_search_last_name], class: 'form-control custom_input', autocomplete: "off",  disabled: false
          .col-lg-3.field-2
            .form-group
              %p EMAIL
              .form-group
                = text_field_tag :user_search_email, "", value: @search_params.present? ? @search_params['user_search_email'] : params[:user_search_email], class: 'form-control custom_input', autocomplete: "off",  disabled: false
          - if @users.present?
            .col-lg-3.field-2
              .form-group
                %p CUSTOMER
                .form-group
                  = text_field_tag :user_search_customer, "", value: @search_params.present? ? @search_params['user_search_customer'] : params[:user_search_customer], class: 'form-control custom_input', autocomplete: "off",  disabled: false
      .btn_right
        .btn_search
          = submit_tag 'Search', class:"btn btn-default custom_btn"
      .btn_right
        .btn_search
          = submit_tag 'Reset', class:"btn btn-default custom_btn", name: "reset", id: "reset_search"