- if question[1].blank?
  %span.no_padding_left Niciun raspuns la aceasta intrebare
- else
  .row.add-margin-top-20
    = column_chart question.last, height: "200px", width: (question.last.count < 10 ? "#{question.last.count*10}%" : "100%")
  .row.add-margin-top-20
    .col-lg-12.add_padding_left_30.add_padding_right_30{style: "max-width: 500px; margin-left:200px"}
      %table.table.table-striped.custom_table3.results
        %thead
          %tr
            %th.background_light_gray.custom_vertical_align_middle.text_align_center RASPUNSURI POSIBILE
            %th.background_light_gray.custom_vertical_align_middle.text_align_center PROCENTAJ
            %th.background_light_gray.custom_vertical_align_middle.text_align_center RASPUNSURI TOTALE
        %tbody
          - question[1].each do |answer|
            %tr
              %td.text_align_center #{answer.first}
              %td.text_align_center.no_padding_left #{'%.2f' % answer.third}%
              %td.text_align_center.no_padding_left #{answer.second}
