.row
  - if @brochure.present?
    .modal-content.border_custom{style: "height: 70vh; overflow-y: scroll"}
      .modal-header
        %h4#myModalLabel.modal-title.pull-left{"scenario-id" => '0'} IntroducetiCERE
        %h4#myModalLabel.modal-title.pull-left.hidden{"scenario-id" => '1'} COD PERSONAL
        %h4#myModalLabel.modal-title.pull-left.hidden{"scenario-id" => '2'} DESPRE DUMNEAVOASTRA
        - @scenarios.each_with_index do |scenario, index|
          %h4#myModalLabel.modal-title.pull-left.hidden{"scenario-id" => "#{index+3}"} #{scenario.title.capitalize}

      .modal-body.brochure{style: "height: 50vh; overflow-y: scroll"}
        .modal-body-content{"scenario-id" => '0'}
          .row
            = @brochure.subdescription
          .row.add_margin_top_20
            = @brochure.description
        .modal-body-content.hidden{"scenario-id" => "1"}
          %table.table.table-striped.results.custom_table3
            %thead
              %td
              %td
              %td Codul Dvs.
            %tbody
              %tr
                %td Prima literă a orașului în care v-ați născut:
                %td #{@user.city}
                %td #{@user.city.split('').first.capitalize}
              %tr
                %td Prima literă a județului în care v-ați născut:
                %td #{@user.country}
                %td #{@user.country.split('').first.capitalize}
              %tr
                %td Suma ultimelor două cifre ale anului nașterii:
                - birthdate = @user.date_of_birth
                - year = birthdate.year.to_s.split('')
                %td #{birthdate.year}
                %td #{year.first.to_i + year.last.to_i}
              %tr
                %td Suma dintre ziua și luna nașterii:
                %td #{birthdate.day} #{months[birthdate.month.to_s]}
                %td #{birthdate.day.to_i + birthdate.month.to_i}

        .modal-body-content.hidden{"scenario-id" => "2"}
          Work in progress #{@scenarios.count}
        - @scenarios.each_with_index do |scenario, index|
          .modal-body-content.hidden{"scenario-id" => "#{index+3}"}
            .row
              .col-xs-2.col-sm-2.col-md-2.col-lg-2
              .col-xs-8.col-sm-8.col-md-8.col-lg-8.no_padding.add-margin-all-0.answer_body
                .row.background_white
                  .container-fluid#answer_survey_container
                    .row.answer_form
                      = render partial: 'surveys/answers/answer_form', locals: {questions: @questions[scenario.id], survey: scenario}

      .modal-footer.d-flex.justify-content-between
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Renunta
        %button.btn.btn-default.btn-prev.hidden{:type => "button", "current-page" => '0'} Pasul anterior
        %button.btn.btn-default.btn-next{:type => "button", "current-page" => '0'} Pasul urmator

        %button.btn.btn-default.btn-save.hidden{:type => "submit", "current-page" => '0', disabled: @preview} Trimite raspunsuri
  - else
    .modal-content.border_custom{style: "height: 70vh; overflow-y: scroll"}
      .modal-header
        %h4#myModalLabel.modal-title.pull-left{"scenario-id" => '0'} PREVIZUALUZARE

      .modal-body{style: "height: 50vh; overflow-y: scroll"}
        .modal-body-content
          .h6.add_padding_top_15 Nicio brosura selectata momentan

:javascript
  $(".modal-content").each(function(){

    var currentModal = $(this);

    //click next
    currentModal.find('.btn-next').click(function(){
      current_page_id = currentModal.find('.btn-next').attr('current-page');
      $(".modal-body-content[scenario-id='"+current_page_id+"']").addClass('hidden')
      next_modal = $(".modal-body-content[scenario-id='"+current_page_id+"']").nextAll('.modal-body-content').first()
      next_modal.removeClass('hidden')
      show_buttons(next_modal.attr("scenario-id"))
      set_title_modal(next_modal.attr("scenario-id"))
      currentModal.find('.btn-next').attr('current-page', next_modal.attr("scenario-id"))
      currentModal.find('.btn-prev').attr('current-page', next_modal.attr("scenario-id"))

    });

    //click prev
    currentModal.find('.btn-prev').click(function(){
      current_page_id = currentModal.find('.btn-next').attr('current-page');
      $(".modal-body-content[scenario-id='"+current_page_id+"']").addClass('hidden')

      prev_modal = $(".modal-body-content[scenario-id='"+current_page_id+"']").prevAll('.modal-body-content').first()
      prev_modal.removeClass('hidden')
      show_buttons(prev_modal.attr("scenario-id"))
      set_title_modal(prev_modal.attr("scenario-id"))
      currentModal.find('.btn-next').attr('current-page', prev_modal.attr("scenario-id"))
      currentModal.find('.btn-prev').attr('current-page', prev_modal.attr("scenario-id"))

    });
    function set_title_modal(current_page_id) {
      $(".modal-title").addClass("hidden")
      $(".modal-title[scenario-id='"+current_page_id+"']").removeClass('hidden')
    }


    function show_buttons(current_page_id) {
      debugger
      if (current_page_id) {
        modal = $('.modal-body.brochure')
        pages = modal.children().length - 1

        if ( ''+pages == current_page_id) {
          $('.btn-prev').removeClass('hidden')
          $('.btn-next').addClass('hidden')
          $('.btn-save').removeClass('hidden')
        } else {
          $('.btn-prev').removeClass('hidden')
          $('.btn-next').removeClass('hidden')
          $('.btn-save').addClass('hidden')
        }
      } else
      {
        $('.btn-prev').addClass('hidden')
        $('.btn-next').removeClass('hidden')
        $('.btn-save').addClass('hidden')
      }
    }

  });

