.row
  .col-12.no_padding_left
    = link_to "Pagina principala", root_path, :method => :get, class: "top_link_grey"
    %i.fa.fa-chevron-right.color_grey
    = link_to "Brosuri", brochures_path, :method => :get, class: "top_link_grey"
    %i.fa.fa-chevron-right.color_grey
    %span.color_purple Rezultate: #{@brochure.title}
.row.add-margin-top-20#tabs_results
  .col-12
    / Nav tabs
    %ul.nav.nav-tabs
      - @scenarios.each_with_index do |scenario, index|
        %li.nav-item{style: "margin: 0!important"}
          %a.nav-link{class:"#{index == 0 ? "active" : ""}", "data-toggle" => "tab", :href => "##{scenario.id}"} #{scenario.title}
    / Tab panes
    .tab-content
      - @scenarios.each_with_index do |scenario, index|
        .tab-pane.add-margin-top-10{id: "#{scenario.id}", class:"#{index == 0 ? "active" : "fade"}"}
          - @questions.select{|q| q.first.survey_id == scenario.id}.each do |question|
            .row.add-margin-top-5.btsp_ps_container.btsp_fheader_table_container.custom_table_container{id: "question_#{question[0].id}"}
              .col-12.add-margin-top-20.add-margin-bottom-10
                %b #{question[0].order}. #{question[0].title}
              .col-12.add-margin-top-15.add-margin-bottom-20
                %span.basic_label_container.background_label_finalized.add-margin-left-5 Deja au raspuns: #{question[2].first}
                %span.basic_label_container.background_label_not_charged Mai au de raspuns: #{question[2].last}
              .col-12.add-margin-bottom-20.add_padding_left_30.add_padding_right_30{id: "question_type_#{question[0].id}"}
                - if question[0].question_type == "free_text"
                  = render partial: "results_free_text", locals: {question: question}
                - elsif question[0].question_type == "multiple_choice"
                  = render partial: "results_multiple_choice", locals: {question: question}
                - elsif question[0].question_type == "multiple_answers"
                  = render partial: "results_multiple_answers", locals: {question: question}