= form_for([@customer, @survey], html: { class: "custom_flex_fist_position", id: "surveys_form_container" }) do |f|
  .row.custom_flex_fist_position.height_100.add-margin-all-0
    .col-lg-12.height_100{style: "margin-bottom: 100px"}
      .row
        .col-lg-12
          - add_error(@survey.errors.full_messages.to_sentence, 'error') if @survey.errors.present?
          .row
            .col-lg-12.add-margin-top-20.custom_survey_title
              .custom_survey_title_content
                #{form_type} SCENARIU

          .row
            = render partial: 'title', locals: {:f => f}
          .row
            = render partial: 'description', locals: {:f => f}
            .col-xs-12.add-margin-left-10
              %button.pull-left.btn_survey.btn_description#btn_description{class: ("hidden" if f.object.try(:description).present?), type: "button"}
                %i.fa.fa-plus.add-margin-right-5
                %span.add_padding_10 Adauga descriere
          .row.add-margin-top-40.add_padding_left_20#question_list
            .col-xs-12.col-lg-12.no_padding.no_margin_right
              = f.fields_for :questions, f.object.questions.present? ? f.object.questions : [Question.new(order: 1, question_type: "free_text")] do |question|
                = render "question_fields", f: question
              .add_padding_left_10#disable_sortable_new_question_btn
                = link_to_add_association 'Add New Question', f, :questions, class: "pull-left btn_survey btn_delete btn_question btn_new_question add-margin-right-5", style:"border-radius:4px"

          = hidden_field_tag :survey_id,"", value: @survey.id, autocomplete: "off", class: "form-control custom_input"

  .row.fixed_survey_bar.add_margin_top_20
    .col-xs-12.col-sm-12
      .add-margin-right-0.pull-right
        = f.submit yield(:button_text), class: "btn btn-default custom_btn btn_big_custom btn_orange", value: "Salveaza", id: "btn_save_survey", data: {disable_with: "Se salveaza..."}
      .add-margin-right-0.pull-left

:javascript
  window.crm.surveys.init();