.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center.no-padding
  .col-md-2.col-lg-2.hidden-xs.hidden-sm.row-no-padding
  .col-xs-12.col-sm-12.col-md-8.col-lg-8.no-margin.no-padding
    .table-responsive.btsp_table_container
      %table.table.table-bordered.matcher.no-select.tables_v2.with_striping.table-striped
        %thead
        %tbody
          %tr
            %th.text-center Questions
            %th.text-center Member Fields
            %th.text-center.actions Action
          %tr.header
            %th.text-center{colspan: 3}
              .matched_header
                Matched Questions
          - @column_matching.each do |c|
            %tr
              %td.custom_vertical_align_middle
                = (c[:your_name] || c['your_name']).capitalize
              %td.custom_vertical_align_middle
                - our_matched_column_name = (c[:our_name] || c['our_name']).capitalize
                - index_survey_title = our_matched_column_name.index('(')
                - if index_survey_title.present?
                  - our_matched_column_name[index_survey_title + 1] = our_matched_column_name[index_survey_title + 1].capitalize
                = our_matched_column_name
              %td.custom_vertical_align_middle
                = submit_tag  "Delete Match", class:"link background_trasparent no_border custom_vertical_align_middle", name: "delete_m_#{c[:your_id] || c['your_id']}"
              = hidden_field_tag "match_#{c[:your_id] || c['your_id']}","",  value: c[:our_id] || c['our_id'], autocomplete: "off"
              = hidden_field_tag "your_name_#{c[:your_id] || c['your_id']}","",  value: c[:your_name] || c['your_name'], autocomplete: "off"
              = hidden_field_tag "our_name_#{c[:our_id] || c['our_id']}","",  value: c[:our_name] || c['our_name'], autocomplete: "off"
          -# - unless spreadsheetfile.unmatched_columns.blank?
          - if !@column_unmatching.blank?
            %tr
              %th.text-center{colspan: 3}
                .unmatched_header
                  Unmatched Questions
            - @column_unmatching.each do |un|
              %tr
                %td.custom_vertical_align_middle
                  = (un[:your_name] || un['your_name']).capitalize
                %td.custom_vertical_align_middle{style: "min-width: 250px!important"}
                  = select_tag "new_m_#{un[:your_id] || un['your_id']}",  grouped_options_for_select(@options_for_unmachting_final), class: 'select2 form-control new_match_dropdown', "data-id" => "#{un[:your_id] || un['your_id']}"
                %td.custom_vertical_align_middle
                  = submit_tag  "Match", class:"color_red link background_trasparent no_border custom_vertical_align_middle hidden", name: "btn_m_new_#{un[:your_id] || un['your_id']}", id: "new_match_btn_#{un[:your_id] || un['your_id']}"
                  -# = link_to "Match", "#", onclick: "return false;"
                  -# %span.fa.fa-circle.separator_style.admin_bullets
                  = submit_tag  "New Custom Field", class:"hidden link background_trasparent no_border custom_vertical_align_middle", name: "new_field_#{un[:your_id] || un['your_id']}", id: "new_field_#{un[:your_id] || un['your_id']}"
              = hidden_field_tag "your_name_#{un[:your_id] || un['your_id']}","",  value: un[:your_name] || un['your_name'], autocomplete: "off"
              = hidden_field_tag "our_name_#{un[:our_id] || un['our_id']}","",  value: un[:our_name] || un['our_name'], autocomplete: "off"
          - if !@column_new.blank?
            %tr
              %th.text-center{colspan: 3}
                .unmatched_header
                  New Custom Fields
            - @column_new.each do |n|
              %tr
                %td.custom_vertical_align_middle
                  = (n[:your_name] || n['your_name']).capitalize
                %td
                  .row
                    .col-lg-12
                      .col-lg-4.add_padding_top_5
                        %b
                          Category:
                      .col-lg-8
                        = select_tag "new_custom_field_category_#{n[:your_id] || n['your_id']}",  options_for_select(@member_profile_categories, selected: @member_profile_default_category), class: 'form-control select2'

                %td.custom_vertical_align_middle
                  = submit_tag  "Delete Field", class:"link background_trasparent no_border custom_vertical_align_middle", name: "delete_field_#{n[:your_id] || n['your_id']}"
              = hidden_field_tag "your_name_#{n[:your_id] || n['your_id']}","",  value: n[:your_name] || n['your_name'], autocomplete: "off"
              = hidden_field_tag "our_name_#{n[:our_id] || n['our_id']}","",  value: n[:our_name] || n['our_name'], autocomplete: "off"
  .col-md-2.col-lg-2.hidden-xs.hidden-sm.row-no-padding
