.row
  %b.color_orange.response_title RESPONSES (#{question[2].first})
.row.add-margin-top-30
  - if question[1].blank?
    %span.add_padding_left_15 No responses for this question
  - else
    .col-xs-12.paginate_members.pull-right.no_padding_left{class: ("add-margin-top-10 add-margin-bottom-20" if question[1].size > 10)}
      = will_paginate question[1], param_name: "answer_#{question[0].id}", inner_window: 1, outer_window: 1, remote: true, :class => "custom_pagination"
    .col-xs-12.add-margin-top-10.add-margin-bottom-20
      - question[1].each do |answer|
        .col-xs-6.add-margin-right-10.add-margin-bottom-20.custom_flex_fist_position
          .row.add_padding_left_30
            %span.icon-record.color_orange
            %span #{answer.answer}
          .row.add-margin-right-15
            %hr.answers_hr
          .row.add_padding_left_15
            .col-xs-4{style: "width: fit-content"}
              #{answer.try(:fill_in_date).try(:strftime, "%m/%d/%Y")}
            .col-xs-4{style: "width: fit-content"}
              #{answer.try(:fill_in_date).try(:strftime, "%I:%M %p")}


