- if question[1].blank?
  %span.no_padding_left No responses for this question
- else
  .row.add-margin-top-20
    .col-xs-3
      = pie_chart question[1].first, height: "250px", width: "100%", colors: question[3], class: "pull-left", legend: false
    .col-xs-9.chart_legend.add_padding_bottom_10.no_padding_left{id: "chart_results_legend_question_#{question[0].id}"}
      - question[1].second.each do |answer|
        .col-xs-5.add-margin-bottom-10.add-margin-top-10.no_padding.add-margin-right{style: "width: #{question[1].last * 5 + 150}px"}
          .col-xs-1.no_padding.chart_legend_label{style: "background-color: #{answer.second}"}
          .col-xs-3.no_padding.chart_legend_text{style: "width: #{question[1].last * 5 + 15}px"}
            #{answer.first}
          .col-xs-1.chart_legend_text
            #{'%.2f' % answer.third}%

  .row.add-margin-top-20
    .col-lg-12.add_padding_left_30.add_padding_right_30{style: "max-width: 500px"}
      %table.table.table-striped.results.custom_table3
        %thead
          %tr
            %th.background_light_gray.custom_vertical_align_middle.text_align_center ANSWER CHOICES
            %th.background_light_gray.custom_vertical_align_middle.text_align_center PERCENTAGE SELECTED
            %th.background_light_gray.custom_vertical_align_middle.text_align_center TOTAL ANSWERS
        %tbody
          - question[1].third.each do |answer| # question[1] are all the attributes (chart, legend, table, max_chart_legend_label)
            %tr
              %td.text_align_center #{answer.first}
              %td.text_align_center.no_padding_left #{'%.2f' % answer.second}%
              %td.text_align_center.no_padding_left #{answer.third}


:javascript
  window.crm.surveys.init();
  window.crm.new_design_shared.applyCustomScrollbar("#chart_results_legend_question_#{question[0].id}");
