.row.orders.custom_name.add-margin-top-20
  .col-xs-12.col-sm-4
    %h3.page-title
      SCENARII
  .col-xs-12
    .page-title
.col-lg-12.add_margin_top_20#survey_index_container{style:"margin-bottom:100px"}
  - if @surveys.blank?
    Nu exista scenarii
  - else
    - @surveys.each do |survey|
      .row.add_margin_top_10.add_padding_bottom_10.border_custom.add_padding_top_15
        .col-xs-12.col-lg-3
          %h4.bold{style: "width: 500px"}
            #{survey.title}
        .col-xs-12.col-lg-3.d-flex.flex-column

          #{survey.author}
          %span{style: "font-size:11px; font-style: italic; color: lightgray;"} Autor
        .col-xs-12.col-lg-3.d-flex.flex-column
          %span.add_padding_left_20 #{(@survey_brochures[survey.id] || []).count}
          %span{style: "font-size:11px; font-style: italic; color: lightgray;"} Brosuri
        .col-xs-12.col-lg-2
          = link_to "", survey_path(id: survey.id), method: :delete, data: { confirm: "Are you sure?" }, "data-remote" => "true", class: "fa fa-trash color_red font_size_30 pull-right"
          - disable_check =  ((@survey_brochures[survey.id] || []).count == 0)
          - if (@survey_brochures[survey.id] || []).count == 0
            %a.fa.fa-pencil.color_lightskyblue.font_size_30.pull-right.add_margin_right_15{href: edit_survey_path(id: survey.id, id: survey.id), method: :get, "data-toggle" => "tooltip"}
              %label{style:'width:18px!important;height:20px'}
          - else
            %span.fa.fa-pencil.color_lightskyblue.disabled.font_size_30.pull-right.add_margin_right_15{"data-toggle" => "tooltip"}
              %i.fa.fa-info-circle.color_black.font_size_18.cursor_pointer{'data-toggle' => "tooltip", title: "Survey has already been sent and cannot be edited anymore."}
          %a.fa.fa-eye.color_purple.font_size_30.pull-right.add_margin_right_15{href: survey_path(id: survey.id, id: survey.id), method: :get, "data-toggle" => "tooltip"}

.row.fixed_survey_bar.background_light_grey
  .col-xs-12.col-sm-12
    .btsp_custom_tabs_menu
    .add-margin-right-0.pull-right
      = link_to  "Scenariu nou", new_survey_path(@customer), class:"btn btn-default btn_big_custom custom_btn btn_orange"
    .add-margin-right-0.pull-left



:javascript
  window.crm.surveys.init();
  window.crm.new_design_shared.applyCustomScrollbar("#survey_index_container");
