.row.orders.custom_name.add-margin-top-20
  .col-xs-12
    %h5.page-title
      %span SURVEYS
      %span.icon-record
      %span #{@survey.title}
      %span.icon-record
      %span RESULTS
  .col-xs-12
    .page-title
.col-lg-12.custom_flex_fist_position#survey_results_container
  - @questions.each do |question|
    .row.add-margin-top-5.btsp_ps_container.btsp_fheader_table_container.custom_table_container{id: "question_#{question[0].id}"}
      .col-xs-12.add-margin-top-20.add-margin-bottom-10
        .col-xs-1.no_padding_right{style: "width: 75px"}
          %b Q#{question[0].order}
        .col-xs-11.no_padding_left
          %span #{question[0].title}
      .col-xs-12.add-margin-top-15.add-margin-bottom-20
        %span.white.basic_label_container.background_label_finalized.add-margin-left-5 Answered #{question[2].first}
        %span.white.basic_label_container.background_label_not_charged Skipped #{question[2].last}
      .col-xs-12.add-margin-bottom-20.add_padding_left_30.add_padding_right_30{id: "question_type_#{question[0].id}"}
        - if question[0].question_type == "free_text"
          = render partial: "results_free_text", locals: {question: question}
        - elsif question[0].question_type == "multiple_choice"
          = render partial: "results_multiple_choice", locals: {question: question}
        - elsif question[0].question_type == "multiple_answers"
          = render partial: "results_multiple_answers", locals: {question: question}
.row.bottom_buttons_bar
  .col-xs-12.col-sm-12
    .btsp_custom_tabs_menu
      .add-margin-right-0.pull-left
        = link_to  "Back", surveys_path(@customer), class:"btn btn-default btn_big_custom custom_btn btn_orange"
      .add-margin-right-0.pull-right
        = button_to  "#{@survey.first_sync_name} Results", sync_results_page_survey_path(@customer, @survey), class:"btn btn-default btn_big_custom custom_btn btn_orange", method: :get


:javascript
  window.crm.surveys.init();
  window.crm.new_design_shared.applyCustomScrollbar("#survey_results_container");
