= form_tag sync_results_survey_path(@customer, @survey), :method => 'POST', :id => "sync_results", :class => "custom_flex_fist_position", :style => "height:100%;", remote: true do
  .row.orders.custom_name.add-margin-top-20
    .col-xs-12.col-sm-6
      %h5.page-title
        %span
          SURVEY
        %span.icon-record
        %span
          #{@survey.title.upcase}
        %span.icon-record
        %span
          MATCHING PAGE
    .col-xs-12
      .page-title
  .row.background_orange.add-margin-all-0
    .col-lg-12.col-xs-12.no_padding.add_padding_bottom_10.add_padding_top_10
      .info_text.bg-warning
        .col-lg-1.white.no_padding_right
          %b
            Note:
        .col-lg-11.white.no_padding
          %i
            Below are the questions from this survey that have to be matched to existing member custom fields.
            You can unmatch/match existing custom fields or create a new custom field from a question.
    %br
  .col-lg-12.custom_table_container.custom_flex_fist_position.add_padding_top_30
    .row#matching_page_body.btsp_ps_container.btsp_fheader_table_container.custom_flex_fist_position
      = render partial: 'matching_page_form'
  .row.bottom_buttons_bar
    .col-xs-12.col-sm-12
      .btsp_custom_tabs_menu
        .add-margin-right-0.pull-right
          = submit_tag  "#{@survey.first_sync_name}", class:"btn btn-default btn_big_custom custom_btn btn_orange", id: "import_answers_final_btn"
:javascript
  window.crm.matching_page.init();
  window.crm.new_design_shared.applyCustomScrollbar("#matching_page_body");
