.col-lg-12.col-xs-12.option_list.no_padding_right.add_padding_left_27
  - question.options.sort_by{|o| o.order || 1}.each do |o|
    .row.option
      .col-lg-12.col-xs-12.form_size.text-center.radio_button_answer.no_padding_right.no_padding_left
        .no-margin.pull-left{style: "white-space: nowrap;"}
          %input.cursor_pointer.radio_button_align{:type => "radio", name: "answer[#{question.id}]", id:"radio_option_#{question.id}_#{o.title}", class: "radio_option", value: o.title, checked: ((answ = @answers.select{|x| x[question.id]}).present? && answ[0][question.id] == o.title)}
          %label.cursor_pointer.radio_button_text{:for => "radio_option_#{question.id}_#{o.title}"} #{o.title}

-# :javascript
-#   window.crm.answer_survey.init();
