!!!
%html{style: ("background-image: url('#{image_url 'background.jpg'}'); background-size: cover; background-repeat: no-repeat;" if !logged_in?)}
  %head
    %title Conflict Scenario
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://use.typekit.net/zli1xaf.css", :rel => "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{name: "viewport", content: "width=device-width height=device-height, initial-scale=1"}

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
    %script{:referrerpolicy => "origin", :src => "https://cdn.tiny.cloud/1/uzgcr4iqk9gmoussw1oia44trdcs7gcv7ihe4siji1g769es/tinymce/5/tinymce.min.js"}

  = csrf_meta_tags
  - if logged_in?
    %body
      #wrapper.d-flex

        #page-content-wrapper
          = render 'menus/menu_top'

          #page
            .container-fluid.add_padding_top_20.h-100
              = yield

      %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
        var string = "#{(j (yield :scripts))}";
        eval(string);
        window.starterkitrails.shared.init();
      .div#flash_alert
        = render 'shared/flash_notice'
  - else
    %body.height_100.add-margin-all-0{style: "background-image: url('#{image_url 'background.jpg'}'); background-size: cover; background-repeat: no-repeat;"}
      = yield

      %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
        var string = "#{(j (yield :scripts))}";
        eval(string);
        window.starterkitrails.shared.init();
      .div#flash_alert
        = render 'shared/flash_notice'


