!!!
%html.height_100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Rails Devise Roles"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Rails Devise Roles"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  - if user_signed_in?
    %body.height_100{class: "#{params[:controller].gsub("/", "-")} #{params[:action]}" }
      - if params[:controller] != "jobs" || (params[:action] != "schedule" && params[:action] != "show" && params[:action] != "reload") || request.request_method != "GET"
        = render 'layouts/header_left' unless (params[:controller] == "surveys" && (params[:action] == "fill_survey" || params[:action] == "survey_sent"))

      .container-fluid.custom_container_fluid.custom_flex_head_position
        = yield

        %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
          var string = "#{(j (yield :scripts))}";
          eval(string);
          window.starterkitrails.shared.init();
      .div#flash_alert
        = render 'shared/flash_notice'
  - else
    %body.height_100
      %header
        = render 'layouts/navigation'
    %main.no_padding.height_100{:role => "main"}
      = render 'layouts/messages'
      = yield
