!!!
%html{style: ("background-image: url('#{image_url 'background.jpg'}'); background-size: cover; background-repeat: no-repeat;" if !logged_in?)}
  %head
    %title Conflict Scenario
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://use.typekit.net/zli1xaf.css", :rel => "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{name: "viewport", content: "width=device-width height=device-height, initial-scale=1"}

    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"}
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", :integrity => "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", :rel => "stylesheet"}/
    %script{:referrerpolicy => "origin", :src => "https://cdn.tiny.cloud/1/uzgcr4iqk9gmoussw1oia44trdcs7gcv7ihe4siji1g769es/tinymce/5/tinymce.min.js"}

    %link{:href => "https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"}


  = csrf_meta_tags
  - if logged_in?
    %body
      #wrapper.d-flex

        #page-content-wrapper
          = render 'menus/menu_top'

          #page
            .add_padding_top_20.h-100
              = yield

      %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
        var string = "#{(j (yield :scripts))}";
        eval(string);
        window.starterkitrails.shared.init();
      .div#flash_alert
        = render 'shared/flash_notice'
  - else
    %body.height_100.add-margin-all-0{style: "background-image: url('#{image_url 'background.jpg'}'); background-size: cover; background-repeat: no-repeat;"}
      = yield

      %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
        var string = "#{(j (yield :scripts))}";
        eval(string);
        window.starterkitrails.shared.init();
      .div#flash_alert
        = render 'shared/flash_notice'


